body {
    background-color: #b1bea1;
    background-image: url("assets/calendar_background.png");
    color: #35381d;
    height: 510px;
    width: 316px;
}

button {
    height: 12px;
    width: 5px;
    background-color: #d3e2c3;
    float: none;
    outline: none;
    border: none;
    border-radius: 30%;
    margin: none;
    transition-duration: 0.7s;
}



button:hover {
    transform: scale(1.19);
    transition-duration: 0.2s;
}

h1 {
    margin-top: 4px;
    margin-left: 10px;
    text-align: right;
    color: #35381d;
}

div {
    float: right;
    text-align: right;
}

table {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

tr, td {
    padding: 0;
}

.chart {
    float: left;
    text-align: left;
}

.disable {
    background-color: #b1bea1;
}

#hoverDate {
    font-size: medium;
}

#hoverMood {
    font-size: small;
}

#return {
    text-align: center;
}

#homepage {
    background-image: url("assets/home_icon.png");
    height: 22px;
    width: 22px;
}   
