body {
    background-color: #b1bea1;
    color: #35381d;
    height: 500px;
    width: 316px;
}

button {
    height: 12px;
    width: 5px;
    background-color: #dfe0dd;
    float: none;
    outline: none;
    border: none;
    border-radius: 30%;
    margin: none;
    transition-duration: 0.7s;
}

button:hover {
    transform: scale(1.19);
    transition-duration: 0.2s;
}

.text {
    float:left;
    text-align: left;
    font-size:x-large;
}

h2 {
    text-align: center;
    color: #35381d;
}

div {
    float: right;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

tr, td {
    padding: 0;
}

.disable {
    background-color: #b1bea1;
}

.hoverDate {
    float:left;
    text-align: left;
    font-size: medium;
}

.hoverMood {
    float:left;
    text-align: left;
    font-size: small;
}
