@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

body {
    animation: transitionIn 1s;
    background-color: #b1bea1;
    background-image: url("assets/home_background.png");
    height: 490px;
    width: 316px;
}

h2 {
    text-align: center;
    color: #35381d;
    font-size: large;
}

h3 {
    text-align: center;
    color: #35381d;
    margin: 0 auto;
}

.B {
    transition-duration: 0.7s;
    height: 40px;
    width: 40px;
    float: none;
    outline: none;
    border: none;
    border-radius: 30%;
    margin-left: 3px;
}

.B:hover {
    transform: scale(1.19);
    transition-duration: 0.2s;
}

#plant {
    padding-top: 5px;
    padding-left: 50px;
}

#B1 {
    background-color: #9dc36c;
}

#B2 {
    background-color: #76a53d;

}

#B3 {
    background-color: #537926;
}

#B4 {
    background-color: #3b4723;
}

#B5 {
    background-color:#242714
}

#calendarnav {
    float: right;
    position: relative;
    margin-right: 3px;
    bottom: 10px;
}

#calendarbutton {
    background-image: url("assets/calendar_icon.png");
    height: 22px;
    width: 22px;
}